.page-list .sort-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.page-list .sort-wrap .sort-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: 0;
  border-top: 1px solid #ddd;
  background: #fff;
}
.page-list .sort-wrap .sort-btn ~ .sort-btn {
  border-left: 1px solid #ddd;
}
.page-list .sort-wrap .sort-btn.active {
  color: #09bb07;
}
