/* 这里的样式如果没有，折叠效果不起效 */
html,
body,
.wz-content {
  height: 100%;
}
/* 文章组件 */
.wz-article {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #eee;
}
.wz-article.fold {
  max-height: 100%;
  overflow: hidden;
}
.wz-article.fold .wz-article-unfold-btn {
  display: block;
}
.wz-article .wz-article-unfold-btn {
  display: none;
  position: absolute;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  padding-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #e0652f;
  /* 渐变效果 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(#fff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -moz- oldlinear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}
.wz-article .wz-article-title {
  margin: 0.5rem 0 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.wz-article .wz-article-info {
  font-size: 0.8rem;
  color: #aaa;
}
.wz-article .wz-article-subtitle {
  font-size: 1.1rem;
  margin-top: 1rem;
}
.wz-article .wz-article-paragraph {
  margin: 0.5rem 0 1rem;
}
.wz-article .wz-article-img {
  max-width: 100%;
  margin: auto;
}
