.wz-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  border-top: 1px solid #ddd;
}
.wz-grid.no-border {
  border: none;
}
.wz-grid.no-border .wz-grid-item {
  border: none!important;
}
.wz-grid .wz-grid-item {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33%;
     -moz-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.2rem 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  background: #fff;
}
.wz-grid .wz-grid-item:nth-child(3n) {
  border-right: none;
}
.wz-grid .wz-grid-item .wz-grid-icon {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}
.wz-grid .wz-grid-item .wz-grid-label {
  font-size: 0.6rem;
  color: #333;
}
.wz-grid.wz-grid-2 .wz-grid-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border-right: 1px solid #ddd;
}
.wz-grid.wz-grid-2 .wz-grid-item:nth-child(2n) {
  border-right: none;
}
.wz-grid.wz-grid-4 .wz-grid-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  border-right: 1px solid #ddd;
}
.wz-grid.wz-grid-4 .wz-grid-item:nth-child(4n) {
  border-right: none;
}
.wz-grid.wz-grid-5 .wz-grid-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  border-right: 1px solid #ddd;
}
.wz-grid.wz-grid-5 .wz-grid-item:nth-child(5n) {
  border-right: none;
}
