/*
 * @Date: 2020-04-12 17:52:20
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:04:22
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\header.less
 * @Description: 标题栏布局
 */
/* 头部导航条 */
.wz-header {
  position: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  height: 2.3rem;
  top: 0;
  z-index: 200;
  border-bottom: 1px solid #ddd;
}
