/* 字体图标，依赖font-awesome */
.fa {
  display: inline-block;
  text-align: center;
}
/* 垂直方向上振动 */
.fa-vibrate-y {
  -webkit-animation: fa-vibrate-y 1.5s infinite ease-in;
     -moz-animation: fa-vibrate-y 1.5s infinite ease-in;
       -o-animation: fa-vibrate-y 1.5s infinite ease-in;
          animation: fa-vibrate-y 1.5s infinite ease-in;
}
/* 振动轨迹 */
@-webkit-keyframes fa-vibrate-y {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@-moz-keyframes fa-vibrate-y {
  0% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(10%);
         transform: translateY(10%);
  }
  100% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
}
@-o-keyframes fa-vibrate-y {
  0% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(10%);
       transform: translateY(10%);
  }
  100% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
}
@keyframes fa-vibrate-y {
  0% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
       -moz-transform: translateY(10%);
         -o-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
