/* 当行文本溢出 */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hide,
[hidden] {
  display: none!important;
}
.visibal {
  visibility: visible;
}
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.del-default-input {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
