/*
 * @Date: 2020-04-12 17:52:43
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:05:48
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\navbar.less
 * @Description: 导航条布局
 */
/* 底部导航栏 */
.wz-navbar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 2.5rem;
  border-top: 1px solid #ddd;
  z-index: 200;
  background: #f8f8f8;
  text-align: center;
}
.wz-navbar > .navbar-item {
  flex: 1;
  color: #808080;
}
.wz-navbar > .navbar-item.active {
  color: #09BB07;
}
.wz-navbar > .navbar-item .icon {
  padding: 0.3rem 0 0.1rem;
  font-size: 1.1rem;
}
.wz-navbar > .navbar-item .name {
  display: block;
  font-size: 0.5rem;
}
