/*
 * @Date: 2020-04-12 17:52:43
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:05:48
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\navbar.less
 * @Description: 导航条布局
 */
/* 底部导航栏 */
.wz-navbar {
  position: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 2.5rem;
  border-top: 1px solid #ddd;
  z-index: 200;
}
