/* 使用on-focus类区分输入状态 */
.wz-search {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
}
.wz-search.on-focus {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 300;
  /* 对取消按钮的控制 */
}
.wz-search.on-focus > .wz-search-form > .wz-search-cancel {
  display: block;
}
.wz-search.on-focus .wz-search-input:valid + .wz-search-clear {
  display: block;
}
.wz-search.on-focus > .wz-search-suggest {
  display: block;
}
.wz-search .wz-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 取消按钮 */
  /* 搜索图标 */
  /* 输入框的样式 */
  /* 清空按钮的样式 */
}
.wz-search .wz-search-form .wz-search-input-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  padding: 0 0.5rem;
}
.wz-search .wz-search-form .wz-search-cancel {
  display: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2.2rem;
     -moz-box-flex: 0;
      -ms-flex: 0 0 2.2rem;
          flex: 0 0 2.2rem;
  padding-right: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
}
.wz-search .wz-search-form .wz-search-icon {
  position: absolute;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.7rem;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ccc;
}
.wz-search .wz-search-form .wz-search-input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 1.6rem;
  border: none;
  font-size: 0.8rem;
  padding: 0 1.5rem;
  background: #fff;
  -webkit-border-radius: 0.2rem;
     -moz-border-radius: 0.2rem;
          border-radius: 0.2rem;
}
.wz-search .wz-search-form .wz-search-clear {
  position: absolute;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 0.8rem;
  font-size: 0.6rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 1rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  background: #ccc;
  display: none;
}
.wz-search > .wz-search-suggest {
  display: none;
}
.wz-search > .wz-search-suggest > .wz-suggest-item {
  padding-left: 1rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #333;
}
/* 处理有标题栏的情况 */
.wz-header ~ .wz-content .wz-search.on-focus {
  top: 2.3rem;
}
/* 处理有导航栏的情况 */
.wz-navbar ~ .wz-content .wz-search.on-focus {
  bottom: 2.5rem;
}
