@charset 'utf-8';
/*
 * @Date: 2020-04-12 15:56:23
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 16:53:15
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\reset.less
 * @Description: 
 */
/* 去掉所有元素的内外边距 */
@import '//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
dl,
dt,
dd,
audio,
video {
  margin: 0;
  padding: 0;
}
/* 统一全局字体 */
body {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}
/* 列表元素去掉默认的列表样式表 */
ol,
ul {
  list-style: none;
}
/* table元素的边框折叠 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去掉默认的下划线 */
a {
  text-decoration: none;
}
/* 去掉input自带的边缘效果和背景颜色 */
input {
  outline: none;
  background: none;
}
/*
 * @Date: 2020-04-12 15:56:15
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:17:59
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\common.less
 * @Description: 存放项目里的公共样式；如控制布局的，或者用的比较多的公共样式
 */
/*
  区分屏幕宽度的方式：
    1、把宽度划分为几个区间，在每个区间里对需要适配的元素指定一个大小。（本项目采用这种方式）
    2、根据屏幕宽度按比例计算元素的大小。
 */
/* 屏幕宽度在340px至410px的样式（也是默认样式，以iPhone6/7/8屏幕的375px作为基准，向两边浮动35px就是这个基准区间） */
html {
  font-size: 20px;
}
/* body默认样式 */
body {
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* 页面蒙版 */
.wz-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
/* 屏幕宽度小于340px时的样式 */
@media (max-width: 340px) {
  html {
    font-size: 18px;
  }
}
/* 屏幕宽度大于410px时的样式 */
@media (min-width: 410px) {
  html {
    font-size: 22px;
  }
}
/* 字体图标，依赖font-awesome */
.fa {
  display: inline-block;
  text-align: center;
}
/* 标题栏样式 */
/*
 * @Date: 2020-04-12 17:52:20
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:04:22
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\header.less
 * @Description: 标题栏布局
 */
/* 头部导航条 */
.ellipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.wz-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  height: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  top: 0;
  z-index: 200;
  border-bottom: 1px solid #ddd;
}
.wz-header .left {
  -webkit-flex-basis: 3rem;
      -ms-flex-preferred-size: 3rem;
          flex-basis: 3rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.wz-header .title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wz-header .right {
  -webkit-flex-basis: 3rem;
      -ms-flex-preferred-size: 3rem;
          flex-basis: 3rem;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
/* 内容区样式 */
/*
 * @Date: 2020-04-12 17:51:54
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:11:03
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\content.less
 * @Description: 内容区域布局
 */
.wz-content {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}
.wz-content .wz-panel-title {
  height: 1.8rem;
  line-height: 1.8rem;
  padding-left: 1rem;
  color: #aaa;
  background: #fff;
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: normal;
}
.wz-content .wz-panel-body {
  position: relative;
  margin-bottom: 0.6rem;
  padding: 0.6rem 1rem;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wz-content .wz-panel-body.no-padding {
  padding: 0;
}
/* 使用兄弟选择器，设置当有标题栏时，才设置上内边距 */
.wz-header ~ .wz-content {
  padding-top: 2.3rem;
}
/* 使用兄弟选择器，设置当有导航栏时，才设置下内边距 */
.wz-navbar ~ .wz-content {
  padding-bottom: 2.5rem;
}
/* 导航条样式 */
/*
 * @Date: 2020-04-12 17:52:43
 * @LastEditors: wuzhe
 * @LastEditTime: 2020-04-12 18:05:48
 * @FilePath: c:\workspace\repository-everyday\wz-ui\src\less\navbar.less
 * @Description: 导航条布局
 */
/* 底部导航栏 */
.wz-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  height: 2.5rem;
  border-top: 1px solid #ddd;
  z-index: 200;
  background: #f8f8f8;
  text-align: center;
}
.wz-navbar > .navbar-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #808080;
}
.wz-navbar > .navbar-item.active {
  color: #09BB07;
}
.wz-navbar > .navbar-item .icon {
  padding: 0.3rem 0 0.1rem;
  font-size: 1.1rem;
}
.wz-navbar > .navbar-item .name {
  display: block;
  font-size: 0.5rem;
}
/* 表单样式 */
.wz-form .wz-form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 1rem;
  /*
        input这个元素比较特殊，它会去继承父元素的字体样式，
        但是会被浏览器给的默认样式覆盖，这些默认样式的优先级
        要高于继承来的样式。所以我们在设置input元素的字体样式时，
        需要直接给inpu设置样式，而不要依靠样式的继承。
        */
  /* 自定义单选 */
  /* 自定义多选 */
}
.wz-form .wz-form-item:not(:last-child) {
  border-bottom: 1px solid #666;
}
.wz-form .wz-form-item .wz-form-label {
  -webkit-flex-basis: 3.5rem;
      -ms-flex-preferred-size: 3.5rem;
          flex-basis: 3.5rem;
  font-size: 0.8rem;
  color: #666;
  height: 2rem;
  line-height: 2rem;
}
.wz-form .wz-form-item .wz-form-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.wz-form .wz-form-item .wz-form-body .wz-input-reset,
.wz-form .wz-form-item .wz-form-body .wz-input-warning {
  position: absolute;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto 0;
  font-size: 0.6rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.wz-form .wz-form-item .wz-form-body .wz-input-reset {
  color: #fff;
  background: #aaa;
}
.wz-form .wz-form-item .wz-form-body .wz-input-warning {
  color: red;
  background: #fff;
  border: 1px solid red;
}
.wz-form .wz-form-item .wz-input {
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  border: none;
}
.wz-form .wz-form-item > .wz-radio {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
  line-height: 2rem;
}
.wz-form .wz-form-item > .wz-radio > .wz-radio-icon {
  margin-right: 0.5rem;
  color: #09bb07;
  visibility: hidden;
}
.wz-form .wz-form-item > .wz-radio.checked > .wz-radio-icon {
  visibility: visible;
}
.wz-form .wz-form-item > .wz-radio .wz-radio-input {
  position: absolute;
  left: -999rem;
}
.wz-form .wz-form-item > .wz-check {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.8rem;
  line-height: 2rem;
}
.wz-form .wz-form-item > .wz-check > .wz-check-icon {
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  color: rgba(0, 0, 0, 0);
  font-size: 0.6rem;
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
.wz-form .wz-form-item > .wz-check.checked > .wz-check-icon {
  background: #09bb07;
  color: #fff;
  border-color: rgba(0, 0, 0, 0);
}
.wz-form .wz-form-item > .wz-check > .wz-check-input {
  position: absolute;
  left: -999rem;
}
/* 按钮样式 */
/* 当行文本溢出 */
.ellipsis {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hide,
[hidden] {
  display: none!important;
}
.visibal {
  visibility: visible;
}
.wz-btn {
  display: block;
  position: relative;
  width: 10rem;
  margin: 0 auto;
  padding: 0.5rem 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 0.7rem;
  text-align: center;
  color: #000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wz-btn.wz-btn-primary {
  background-color: #1AAD19;
  color: #fff;
}
.wz-btn.wz-btn-warning {
  background-color: #e64340;
  color: #fff;
}
.wz-btn.wz-btn-disabled {
  background-color: #f7f7f7;
  color: #999;
  opacity: 0.6;
}
.wz-btn.wz-btn-large {
  width: 100%;
  font-size: 0.9rem;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.wz-btn.wz-btn-small {
  display: inline-block;
  width: 3rem;
  padding: 0.2rem 0;
  font-size: 0.7rem;
}
